<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Usuario</title>
</head>
<body>
    <div>
        <form action="{{url_for('usuario.modificar', id=usuario.id)}}" method="POST">
            <label for="">Nome</label>
            <input type="text" name="nome" id="nome" value="{{usuario.nome}}">
            <label for="">Função</label>
            <input type="text" name="funcao" id="funcao" value="{{usuario.funcao}}">
            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>