<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar</title>
</head>
<body>
    <div>
        <form action="{{ url_for('funcionario.deletar', id=funcionario.id) }}", method="POST">
            <label for="">Id do funcionario</label>
            <input type="number" name="id_funcionario" id="id_funcionario">
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>