<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu senha</title>
    <link rel="stylesheet" href="/templates/style.css">
</head>
<body>
    <form method="post" action="auth/login">
        <input name="password" type="password" placeholder="Nova Senha" required>
        <input name="confirm_password" type="password" placeholder="Confirme a Senha" required>
        <button type="submit">Alterar Senha</button>
    </form>
</body>
</html>