<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetar senha</title>
    <link rel="stylesheet" href="/templates/style.css">
</head>
<body>
    <form method="post" action="{{url_for('auth_login.esqueci_senha')}}">
        <p>Digite seu nome de usuário para recuperar a senha:</p>
        <input name="username" placeholder="Username" required>
        <button type="submit">Enviar E-mail</button>
    </form>
</body>
</html>